<%- include('./partials/header.ejs', {title: "Feed", nav_links:true, loggedUser:user}) %>
<h1>Feed</h1>
<%- include("./partials/paggination.ejs", {routePath: "/feed", pages}) %>
<% posts.forEach(post => { %>
    <div class="feed-container">
        <div class="feed-card">
            <h3><a href="/users/<%= post.userId._id.toString() %>"><%= post.userId.username %></a></h4>
            <h3>Title: <%= post.title %></h3>
            <h4>description: <%= post.description %></h4>
            <div class="addComment-container">
                <form  action="/users/<%= post.userId._id %>/posts/<%= post._id.toString() %>/comments" method="post">
                    <button class="addCommentBtn">Comment</button>
                    <input class="commentText" name="comment" type="text">
                </form>
            </div>
            <div class="post-action-btn">
                <% if (post.userId._id.toString()===user._id.toString() || user.role === 'admin') { %>
                     <form action="/users/<%= post.userId._id.toString() %>/posts/<%= post._id.toString() %>?_method=DELETE" method="POST">
                        <input type="hidden", name="_method", value="DELETE">
                        <button value="Delete User" class="userDeleteBtn" type="submit">Delete Post</button>
                    </form> 
                <% if (post.userId._id.toString()===user._id.toString()) { %>
                    <form action="/users/<%= post.userId._id.toString() %>/posts/<%= post._id.toString() %>" method="GET">
                        <button value="Update Post" class="postUpdateBtn" type="submit">Update Post</button>
                    </form>
                    <% } %>         
                <% } %>
            </div>
        </div>
        <%- include('./partials/comment.ejs', {post, user, comments}) %>
    </div>
<%}); %>
<%- include("./partials/paggination.ejs", {routePath: "/feed", pages}) %>
<%- include('./partials/footer.ejs') %>
